.footer {
  padding: 40px 20px;
  flex-grow: 0;
  color: $light-color-secondary;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 760px;
    max-width: 100%;

    @media #{$media-size-tablet} {
      flex-direction: column;
    }
  }

  &__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1rem;
    color: $light-color-secondary;

    @media #{$media-size-tablet} {
      flex-direction: column;
      margin-top: 10px;
    }

    & > *:not(:last-child) {
      border-right: 1px solid;
      padding: 0 15px;

      @media #{$media-size-tablet} {
        border: none;
      }
    }

    & > *:last-child {
      padding: 0 15px;
    }
  }
}

.search-container {
	position: relative;
}

.search-box {
	input[type="text"] {
		border: none;
		background: none;
		z-index: 1;
		width: 25px;
		height: 25px;
		transition: all .25s ease-in .25s;
		color: transparent;
		font-size: .75rem;
		line-height:25px;
		&:hover {
			cursor: pointer;
			&:focus {
				cursor: text;
			}
			+ span {
				background: rgba(0,0,0,0.2);
			}
		}
		&:focus {
			width: 100px;
			padding: 0 10px;
			outline: none;
			color: currentColor;
			background:none;
			color: currentColor;
			+ span {
				width: 100px;
				&::before {
					width:2px;
					opacity: 0;
					transition: all .25s ease-in;
				}
			}
		}
		+ span {
			z-index: -1;
			position: absolute;
			top: 0;
			left: 15px;
			border: 2px solid currentColor;
			width: 25px;
			height: 25px;
			transition: all .25s ease-in .25s;
			border-radius: 25px;
			&::before {
				transition: all .25s ease-in .5s;
				transform-origin: left top;
				content: '';
				position: absolute;
				width: 10px;
				height: 5px;
				border-radius: 5px;
				background: currentColor;
				transform: rotate(41deg) translate(19px, 6px);
			}
		}
	}
}
